.titulo-empleados {
    color: #4972b0; 
    font-weight: 900;
}

.etiquetas-empleados {
    color: #4972b0;
    font-weight: 600;
}

.btn {
    background-color: #4972b0;
    color: aliceblue;
    font-weight: 600;
}